/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< reset CSS >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
*{
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}

ul{
    margin: 0;
}
button:focus {
    outline: 1px solid #ffffff !important;
}
hr{

    width: 90px !important;
    height: 2px !important;
    border-top: 4px solid rgba(0,0,0,.1) !important;
}
a{
    text-decoration: none !important;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< header >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#entete{
    background-color:#87509c;
    position: fixed;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
#nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav_menu ul{
    display: flex;
    list-style: none;
}
#nav_menu a{
    margin-right: 15px;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    text-transform: uppercase;
    border-radius: 4px;
    transition: 0.3s all;
}
#nav_menu a:hover{
    background-color: #643a79
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Welcome >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#welcome{
    background-color: #87509c;
    height: 595px;
    width: 100%;
}
#container-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    text-align: center;
    color: white;
    flex-direction: column;
}
#button_welcome{
    margin-top: 55px;
    height: 70px;
    width: 290px;
    border-radius: 3px;
    border: none;
    border-bottom: 4px solid #c86a40;
    background-color: #eb7d4b;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    transition: 0.3s all;
}
#button_welcome:hover{
    border-bottom: 4px solid #eb7d4b;
    background-color:#c86a40;
    box-shadow: 0px 0px 1px 1px rgb(65, 65, 65);
}


/*<<<<<<<<<<<<<<<<<<<<<<<< Services >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#services{
    height: 750px;
    width: 100%;
    background-color: #17c2a4;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#container_services{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.content_services{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 5px;
}
#container_services h2{
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}
#container_services p{
    color: white;
    text-align: center;
    font-size: 15px;
    margin-bottom: 75px;
}
#container_services h3{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
#container_services img{
    height: 130px;
}


/*<<<<<<<<<<<<<<<<<<<<<<<< Team >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#team{
    height: 915px;
    width: 100%;
    background-color: #e7f1f8;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
#container_team{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#container_team h2{
    letter-spacing: 3px;
    color: #3c4761;
    text-transform: uppercase;
    font-weight: bold;
}
#container_team p{
    color: #3c4761;
}
.img_team{
    height: 200px;
    width: 200px;
    margin-bottom: 40px;
}
.content_team{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 0.3s all;
    padding: 5px;
}
.content_team:hover{
    box-shadow: 0px 0px 2px 4px #eaeaea;
}
.content_team h4{
    font-size: 20px;
    color: #27283d;
    text-align: center;
    text-transform: uppercase;
}
.team_working{
    color: #48c1e9;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}
.content_team p{
    color: #3c4761;
    text-align: center;
}
.content_button_social{
    display: flex;
    justify-content: center;
}
.link_social{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 150px;
    background-color: #bdd1df !important;
    margin: 0 5px;
    color: white;
    font-size: 12px;
    transition: 0.3s all;
}

.link_social:hover{
    color: white;
    background-color:#87509c !important;
    box-shadow: 0 0 1px 2px #dadada;
}


/*<<<<<<<<<<<<<<<<<<<<<<<< skills >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#skills{
    height: 655px;
    width: 100%;
    background-color: #fff;
}
/*<<<<<<<<<<<<<<<<<<<<<<<< portfolio >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#portfolio{
    height: 1420px;
    width: 100%;
    background-color: #ffcc99;
}
/*<<<<<<<<<<<<<<<<<<<<<<<< Testimonials >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#testimonials{
    height: 900px;
    width: 100%;
    background-color: #d74680;
}
/*<<<<<<<<<<<<<<<<<<<<<<<< Get in touch >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#get_in_touch{
    height: 820px;
    width: 100%;
    background-color: #3c5499;
}
/*<<<<<<<<<<<<<<<<<<<<<<<< Footer >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
footer{
    height: 110px;
    width: 100%;
    background-color: #344b8e;
}